BODY {
  width:100%;
  background-image: url("../images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color:black;
  color:white;
}

HEADER {
  text-align:center;
}

P {
  display:inline;
}

#Info {
  text-align:right;
  margin-right:50%;
  font-size:28px;
}

#Jigsaw {
  margin-right:-15%;
  margin-top:15%;
  text-align:center;
}

#Display, #Category {
  margin-top:5%;
  text-align:center;
  margin-right:-100%;
  font-size:80px;
}

#Time {
  text-align:center;
  margin-right:-100%;
  margin-top:15%;
  font-size:120px;
  color:red;
}

#Restart {
  width:100%;
  font-size:40px;
  text-align:center;
  margin-top: -15%;
}

.btn {
  float:left;
  font-size:40px;
  width:33%;
  margin-top:10%;
}

@media only screen and (max-width: 960px) {
  #Info {
    font-size:18px;
  }
}

@media only screen and (max-width: 640px) {
  #Info {
    font-size:10px;
  }

  #Time {
    font-size:64px;
  }

  #Jigsaw {
    margin-top: 80%;
  }

  .btn {
    font-size:20px;
    margin-top:40%;
  }
}

@media only screen and (max-width: 1040px) {
  #Restart {
    margin-top:-30%;
  }
}
